<%- include('../partials/header') %>



<br>
<h1 class="mylist">My lists</h1>
<br>
<div class="list-group">
<% lists.forEach(function(l) { %>
    <div class="listcard">
    <div class="listlist">
        <h4 class="listname"> <%= l.name %> </h4>
        <div class="aligntogether">
        <form id="new-form" action="/lists/<%= l._id %>/cocktails" method="POST">
            <select name="cocktailId">
                <% cocktails.forEach(function(c) { %>
                    <option value="<%= c._id %>"> 
                        <%= c.name %>
                    </option>
                    <%  }) %>
                </select>
                <input type="submit" class="btn-small button-green" value="Add Drink to List">
            </form>
            <form action="/lists/<%= l._id %>?_method=DELETE" method="POST">
            <input type="submit" class="btn-small button-red" value="Delete List">
            </form>
        </div>
    </div>
    <div class="cocktail-container ">
        <% l.cocktails.forEach(function(c) { %>
            <div class="cardlayout">
                <div class="cardcontent">
                    <img class="divimg" src="<%= c.image %>">
                    <h5 class="card-title" style="text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;"><%= c.name %></h5>
                    <p class="card-text description"><%= c.description %></p>
                    <div>
                    <a href="/cocktails/<%= c._id %>" class="btn btn-sm btn-outline-primary">Details</a>
                    <form action="/lists/<%= l._id %>/cocktails/<%= c._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Remove</button>
                      </form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    </div>
<% }) %>
</div>
<br>


<br><br>
<div class="list-group">
    <form id="new-form" action="/lists" method="POST">
        <label>List Name:</label>
        <input type="text" name="name">
        <input type="submit" class="btn-small button-green" value="Create List">
    </form>
</div>
<br><br><br><br><br>


<%- include('../partials/footer') %>