<%- include('../partials/header') %>

<div>
  <h1 class="mylist">My List</h1>
</div>
<!-- 
<table>
  <thead>
    <tr>
      <th>
        <% cocktails.forEach(function(c) { %>
          <tr>
            <td><%= c.image %></td>
            <td><%= c.name %></td>
            <td><%= c.description %></td>
            <td><%= c.ingredients %></td>
            <td><a href="/cocktails/<%= c._id %>">DETAILS</a></td>
          </tr>
          <% }); %>
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<a href=""></a>
<a href="">Weak</a>
<a href="">Medium</a>
<a href=""></a>
<a href=""></a>


<div class="row">
  <div class="column">
    <div class="card">Sazerac - Ingredients</div>
  </div>
  <div class="column">
    <div class="card">..</div>
  </div>
  <div class="column">
    <div class="card">..</div>
  </div>
  <div class="column">
    <div class="card">..</div>
  </div>
  </div>
<br> -->
<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->

<%- include('../partials/footer') %>