<%- include('../partials/header') %>
<br>
<h1 class="mylist marginbot">Cocktail Detail</h1>

<div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 margintop">
      <div class="margintop">
        <img id="borderimg" src="<%= cocktail.image %>" class="d-block mx-lg-auto img-fluid margintop" alt="Bootstrap Themes" width="300" height="150
      " loading="lazy">
        
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3"><%= cocktail.name %></h1>
        <p class="lead">Description: <%= cocktail.description %></p>
        <p class="lead">Ingredients: <%= cocktail.ingredients %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <% if (user && user._id.equals(cocktail.user)) { %>
          <a href="/cocktails/<%= cocktail._id %>/edit">
            <button type="button" class="btn btn-outline-primary btn-lg px-4 me-md-2">Edit Cocktail</button>
          </a>
          <form action="/cocktails/<%= cocktail._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-danger btn-lg px-4">Delete Cocktail</button>
          </form>
          <% }; %>
        </div>
      </div>
    </div>
  </div>





<%- include('../partials/footer') %>